body {
  background: linear-gradient(to bottom right, rgb(108, 108, 247), orange);
}

.background {
  display: flex;
  flex-direction: column;
}

.header {
  border: 1px solid red;
}

.content {
  display: flex;
  flex-direction: column;

  border: 1px dotted orange;

  .main {
    border: 1px solid black;

    height: 100vh;
    background: url(../resources/senjougahara_by_magenta_anbu-d4qadh5.png)
      no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(5, 1fr);
  }
  @media screen and (min-width: 500px) {
    .main {
    }
  }

  .menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    border: 1px solid yellow;
    opacity: 0.3;

    .menuButton {
      border: 1px solid black;
      margin: 10px;
    }
  }

  .title {
    grid-row-start: 4;
    grid-column-start: 2;
    color: black;
    font-size: 5vh;
    text-align: center;
    //background: grey;
    //opacity: 0.8;
  }

  #gallery {
    height: 400px;
    border: 1px solid black;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

    .imgContainer {
      margin: 5px;
    }
  }

  #about {
    height: 400px;
    border: 1px solid black;
  }

  #issues {
    height: 400px;
    border: 1px solid black;
  }
}

@keyframes menuButtonExpand {
  0% {
    width: 33%;
  }
  100% {
    width: 100%;
  }
}

.footer {
  text-align: center;
  border: 1px solid black;
  padding: 30px;
  opacity: 0.6;
}
