@import "./partials/header";
@import "./partials/footer";
@import "./partials/home";
@import "./partials/issue";
@import "./partials/about";
@import "./partials/gallery";
@import "./partials/issues";
$variable: green; //use like font: $variable;

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

body {
  background: white;
  font-family: Helvetica;
  margin: 0px 0px 0px 0px;
}

.content {
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: auto;
}

.limitedWidthDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}
