@import "./partials/header";
@import "./partials/footer";
@import "./partials/_home.scss";

$variable: green; //use like font: $variable;

body {
  background: white;
  font-family: Helvetica;
  margin: 0px 0px 0px 0px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  max-width: 1200px;
  margin: auto;
}

.limitedWidthDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.issueBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  //border: 1px solid black;
  padding: 20px;
  .issue {
    margin-bottom: 5px;
  }
  .subheading {
    margin: 0px;
  }
  .description {
    font-size: 20px;
  }
}

.galleryBlock {
  width: 100%;

  padding: 10px;

  .galleryText {
    padding: 10px;

    .eventName {
    }
    .description {
    }
  }
  .photos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    //justify-content: center;

    .galleryPhoto {
      margin: 10px;
      // max-height: auto;
      // max-width: 300px;
      // width: auto;
      // height: auto;

      display: block;
      max-width: 300px;
      max-height: 200px;
      width: auto;
      height: auto;
    }
  }
}

.aboutBlock {
  padding: 20px;
}
