<div class="header">
  <div id="titleBox">
    <h1 id="title">
      Sam </br>KONG
    </h1>
    <h2 id="slogan">People Strong</h2>
  </div>
  <div class="mainMenu">

    <div class="menuButton">
      <a href="./about">About</a>
    </div>

    <div class="menuButton">
      <a href="./issues">Issues</a>
    </div>

    <div class="menuButton">
      <a href="./gallery">Gallery</a>
    </div>

  </div>
</div>