<div class="header">

  <div class="mobileMenu">
    <div id="menuRevealButton">Menu</div>

    <div class="menuButton" style="display:none">
      <a href="/">Home</a>
    </div>

    {{!--
    <div class="menuButton" style="display:none">
      <a href="/message">Sam's Message</a>
    </div> --}}

    <div class="menuButton" style="display:none">
      <a href="/about">About</a>
    </div>

    <div class="menuButton" style="display:none">
      <a href="/issues">Priorities</a>
    </div>

    <div class="menuButton" style="display:none">
      <a href="/gallery">Gallery</a>
    </div>
    <div class="menuButton" style="display:none">
      <a href="/getinvolved">Get Involved</a>
    </div>
  </div>

  <div class="desktopMenu">

    <div class="menuButton">
      <a href="/">Home</a>
    </div>

    {{!--
    <div class="menuButton">
      <a href="/message">Sam's Message</a>
    </div> --}}

    <div class="menuButton">
      <a href="/about">About</a>
    </div>

    <div class="menuButton">
      <a href="/issues">Priorities</a>
    </div>

    <div class="menuButton">
      <a href="/gallery">Gallery</a>
    </div>
    <div class="menuButton">
      <a href="/getinvolved">Get Involved</a>
    </div>
  </div>
  <script src="/js/menu.js"></script>
</div>