<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  {{!--
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-117332671-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-117332671-1');
  </script>
  <meta description="As the District 33 Representative I have been honored to represent the citizens of Aiea, Halawa, Newtown, Royal Summit, Pearl
  Ridge, Waimalu and Enchanted Hills. I am a small business owner, father, husband, veteran and community member and have been
  a member of our community for almost three decades. I have seen and experienced the rising cost of living, increased business
  constraints, lack of affordable housing, increased homelessness and rising health care costs. Though these challenges seem
  overwhelming, there is much we can do individually and collectively to improve our community.">
  <meta name="keywords" content="Aiea, Halawa,Newtown,Royal Summit,Pearl Ridge,Waimalu,Enchanted Hills,Sam Kong,District 33"> --}}

  <meta charset=" UTF-8 ">
  <meta name="viewport " content="width=device-width, initial-scale=1.0 ">

  <meta http-equiv="X-UA-Compatible " content="ie=edge ">
  <title>Sam Kong, People Strong</title>
  <link rel="stylesheet " href="/css/app.css ">
</head>

<body class="Site ">
  {{>header}} {{{body}}} {{>footer}}
</body>

</html>