<div class="aboutBlock">
  <p>After leaving the world of electronics and computers behind at 25 years ago. Joined the business world, I became the owner/operator
    of Aiea Florist. Being new to this, I joined the Aiea/ Pearl City Business Association where I became a founding member
    of the Aiea/Pearl City graffiti busters. That was the beginning of my volunteerism in the Aiea Community.</p>
</div>