<div class="aboutBlock">
  <img id="samAboutPic" src="resources/about.jpg" alt="Sam">
  <p id="aboutText">Sam Satoru Kong currently serves in the Hawaii House of Representatives representing District 33 (Aiea, Halawa, Newtown,
    Royal Summit, Waimalu). He was first elected into the House of Representatives in 2014. Sam won both his elections without
    fundraising or accepting any major donations. In 2014, he raised only $74 and in 2016, he raised zero!
    </br></br>Sam was born on the island of Oahu and grew up in Kaimuki with the great Israel Kamakawiwo'ole or "Iz." In 2004,
    Sam and his family moved to Aiea and has been part of its community since! Sam is a proud veteran of the United States
    Airforce, where he served for ten years. After leaving the military, he became a computer technician for Servco and Software
    Plus respectively, but left in 1992 to start his own florist company, Aiea Florist. A relatively new business owner,
    he joined the Pearl City/Aiea Business Association where he became a founding member of the Aiea/Pearl City Graffiti
    Busters. This was the beginning of his volunteerism in the Aiea Community. For the next twenty years, Sam served on Gus
    Webling Elementary School's Council and later became a founding member of "Lions on the Move," a volunteer group dedicated
    to keeping our communities clean and beautiful. From graffiti painting and landscaping, to just picking up trash the
    Lions have done so much that you may have not even noticed. In addition to his volunteer work, Sam has been involved
    with the homeless in our State. </br></br>During his tenure as a Representative, he has fought for less taxes, spending accountability,
    and more support for our students, teachers, and schools. In addition, he continues to advocate for more affordable housing
    for homeless families. Sam is committed to working with the people of Aiea to create viable solutions for our everyday
    struggles and he gladly offers his time to anyone 24/7!</p>
</div>