<div class="content">
  <div class="getInvolved">

    <p>If you wish to donate, you can send a check to</p>
    <blockquote class="address">
      Sam Kong </br>98-818 F Kaonohi St.</br> Aiea, HI 96701
    </blockquote>
    <p>To volunteer, send an email to <b>friendsforsamkong@gmail.com</b>. Please put "VOLUNTEER" in the subject line.</p>
  </div>

</div>