<div class="content">
  <div class="getInvolved">

    <p>If you wish to donate, you can send a check payable to "Friends for Sam Kong" at</p>
    <blockquote class="address">
      Representative Sam Kong </br>98-818 F Kaonohi St.</br> Aiea, HI 96701
    </blockquote>
    <p>To volunteer, send an email to
      <b>friendsforsamkong@gmail.com</b>.</br> Please put "VOLUNTEER" in the subject line.</br> You can also contact Representative
      Sam Kong at 809-699-0222.</p>
    <p>Sam's official site as a representative can be found
      <a href="https://www.capitol.hawaii.gov/memberpage.aspx?member=kong">here</a>.</p>
  </div>

</div>