<div id="mobileTitle" class="titleBox">
  <h1 class="title">
    SAM</br>KONG
  </h1>
  <h2 class="slogan">People Strong</h2>
</div>
<div class="landingPagePic">
  <div class="titleBox" id="fullSizeTitle">
    <h1 class="title">
      SAM KONG
    </h1>
    <h2 class="slogan">People Strong</h2>
  </div>
</div>