<div id="mobileTitle" class="titleBox">
  <h1 class="title">
    SAM</br>KONG
  </h1>
  <h2 class="slogan">People Strong</h2>
  <h3 class="district">District 33</h3>

</div>
<div class="landingPagePic">
  <div class="titleBox" id="fullSizeTitle">
    <h1 class="title">
      SAM KONG
    </h1>
    <h2 class="slogan">People Strong</h2>
    <h3 class="district">District 33</h3>
  </div>
</div>
<div class="content">

  <div class="messageBlock">
    <img id="samAboutPic" src="resources/about.jpg" alt="Sam">
    <p id="messageText">Aloha,</br>
      </br>
      As the District 33 Representative I have been honored to represent the citizens of Aiea, Halawa, Newtown, Royal Summit, Pearl
      Ridge, Waimalu and Enchanted Hills. I am a small business owner, father, husband, veteran and community member and
      have been a member of our community for almost three decades. I have seen and experienced the rising cost of living,
      increased business constraints, lack of affordable housing, increased homelessness and rising health care costs. Though
      these challenges seem overwhelming, there is much we can do individually and collectively to improve our community.
      </br>
      </br>
      As a community member and Representative I spend weekends with the Lions Club painting over graffiti, land-scaping, picking
      up trash and generally beautifying our community. Providing service to our community gives me a sense of accomplishment
      and keeps me in touch with my friends and neighbors.
      </br>
      </br>
      I am requesting your support so I can continue work in providing housing for homeless individuals, improve the schools in
      the Aiea District and continue to hold government accountable for our spending. I look forward to continue working
      for you in an official capacity to improve the daily challenges we face. I have made many heart-felt connections for
      almost three decades and look forward to the opportunity to continue serving you and your family. I am always available
      to you 24/7 and can be reached at 699-0222 or email samkong@hawaii.rr.com.</p>
  </div>
</div>