<div class="limitedWidthDiv">
  {{#each issues}}
  <div class="issueBlock">
    <h2 class="issue">{{issue}}</h2>
    <h3 class="subheading">{{subheading}}</h3>
    <p class="description">{{description}}</p>
  </div>
  {{/each}}
</div>