.header {
  background: green;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 70px; }

.mainMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  margin: auto; }
  .mainMenu #menuRevealButton {
    text-align: center;
    margin: 5px;
    padding: 5px;
    font-size: 26px;
    color: white; }
  .mainMenu .menuButton {
    margin: 5px 20px 5px 20px;
    padding: 5px;
    text-align: center;
    display: none; }
    .mainMenu .menuButton a {
      font-size: 22px;
      text-decoration: none;
      color: white; }

@media screen and (min-width: 650px) {
  .mainMenu {
    flex-direction: row;
    justify-content: flex-end; }
    .mainMenu .menuButton {
      display: inline; }
    .mainMenu #menuRevealButton {
      display: none; } }

.footer {
  background: green;
  text-align: center;
  padding: 20px;
  color: white; }

.titleBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  text-align: center;
  color: white;
  text-decoration: none;
  padding-bottom: 10px; }
  .titleBox .title {
    margin: 10px 0px 0px 0px;
    line-height: 0.8; }
  .titleBox .slogan {
    margin: 0px 0px 0px 0px; }

#mobileTitle {
  height: 95vh;
  background: green; }
  #mobileTitle .title {
    margin: 10px 0px 0px 0px;
    font-size: 100px;
    line-height: 0.8; }
  #mobileTitle .slogan {
    font-size: 30px;
    margin: 0px 0px 0px 0px; }

#fullSizeTitle {
  display: none; }

@media screen and (min-width: 650px) {
  #mobileTitle {
    display: none; }
  #fullSizeTitle {
    display: flex;
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    align-self: start;
    margin-top: 15px; }
    #fullSizeTitle .title {
      margin: 10px 0px 0px 0px;
      font-size: 7vh;
      line-height: 0.8; }
    #fullSizeTitle .slogan {
      font-size: 4vh;
      margin: 0px 0px 0px 0px; } }

.landingPagePic {
  height: 100vh;
  width: 100%;
  background: url(../resources/legSeatPic.jpg) no-repeat;
  background-position: 75% 35%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr); }

@media screen and (min-width: 1075px) {
  #mobileTitle {
    display: none; }
  #fullSizeTitle {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    align-self: center;
    justify-self: start; }
    #fullSizeTitle .title {
      margin: 10px 0px 0px 0px;
      font-size: 7vh;
      line-height: 0.8; }
    #fullSizeTitle .slogan {
      font-size: 5vh;
      margin: 0px 0px 0px 0px; } }

.issue {
  padding: 20px; }
  .issue h2,
  .issue h3 {
    text-align: center; }
  .issue .issueHeader .issueTitle {
    font-size: 5vh; }
  .issue .list .listTitle {
    font-size: 150%; }
  .issue .list .listItem {
    border-top: 3px solid green; }
    .issue .list .listItem .itemTitle {
      font-size: 1.3em; }
    .issue .list .listItem .itemEnd {
      font-weight: bold; }

.aboutBlock {
  display: flex;
  flex-direction: column;
  padding: 20px; }
  .aboutBlock #samAboutPic {
    display: block;
    height: auto;
    width: 100%; }
  .aboutBlock #aboutText {
    font-size: 20px; }

@media screen and (min-width: 600px) {
  .aboutBlock {
    flex-direction: row;
    justify-content: space-around; }
    .aboutBlock #samAboutPic {
      max-width: auto;
      max-height: 40vh; }
    .aboutBlock #aboutText {
      margin-left: 30px; } }

@media screen and (min-width: 900px) {
  .aboutBlock #samAboutPic {
    max-height: 60vh; } }

.galleryBlock {
  width: 100%;
  padding: 10px; }
  .galleryBlock .galleryText {
    padding: 10px; }
  .galleryBlock .photos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; }
    .galleryBlock .photos .galleryPhoto {
      margin: 10px;
      display: block;
      max-width: 300px;
      max-height: 200px;
      width: auto;
      height: auto; }

.lightBox {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4); }

.lightBoxContent {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 0px 20px 20px 20px;
  border: 1px solid #888;
  border-radius: 25px;
  width: 80%; }

.lightBoxPhoto {
  width: 100%; }

.close {
  color: #aaa;
  float: right;
  font-size: 45px;
  font-weight: bold; }

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer; }

.issueBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 100%;
  height: 1fr;
  margin: 10px;
  -moz-box-shadow: 3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow: 3px 3px 5px 6px #ccc;
  text-decoration: none;
  color: black; }
  .issueBlock .issue {
    font-size: 5vh; }
  .issueBlock .subheading {
    margin: 0px; }
  .issueBlock .description {
    font-size: 20px; }

.getInvolved {
  font-size: 20px;
  text-align: center; }

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

body {
  background: white;
  font-family: Helvetica;
  margin: 0px 0px 0px 0px; }

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: auto; }

.limitedWidthDiv {
  display: flex;
  flex-direction: column;
  align-items: center; }
