.header {
  background: green;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.mainMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  margin: auto; }
  .mainMenu #menuRevealButton {
    text-align: center;
    margin: 5px;
    padding: 5px;
    font-size: 26px;
    color: black; }
  .mainMenu .menuButton {
    margin: 5px 20px 5px 20px;
    padding: 5px;
    text-align: center;
    display: none; }
    .mainMenu .menuButton a {
      font-size: 22px;
      text-decoration: none;
      color: black; }

@media screen and (min-width: 600px) {
  .mainMenu {
    flex-direction: row;
    justify-content: flex-end; }
    .mainMenu .menuButton {
      display: inline; }
    .mainMenu #menuRevealButton {
      display: none; }
  a {
    font-size: 40px;
    color: blue; } }

.footer {
  background: green;
  text-align: center;
  padding: 20px;
  color: white; }

#titleBox {
  background: green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 95vh;
  text-align: center;
  color: white;
  text-decoration: none;
  padding-bottom: 10px; }
  #titleBox #title {
    margin: 10px 0px 0px 0px;
    font-size: 115px;
    line-height: 0.8; }
  #titleBox #slogan {
    font-size: 40px;
    margin: 0px 0px 0px 0px; }

.landingPagePic {
  height: 100vh;
  width: 100%;
  background: url(../resources/legSeatPic.jpg) no-repeat;
  background-position: 75% 35%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

body {
  background: white;
  font-family: Helvetica;
  margin: 0px 0px 0px 0px; }

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  max-width: 1200px;
  margin: auto; }

.limitedWidthDiv {
  display: flex;
  flex-direction: column;
  align-items: center; }

.issueBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px; }
  .issueBlock .issue {
    margin-bottom: 5px; }
  .issueBlock .subheading {
    margin: 0px; }
  .issueBlock .description {
    font-size: 20px; }

.galleryBlock {
  border: 1px solid black;
  width: 100%;
  padding: 10px; }
  .galleryBlock .galleryText {
    padding: 10px; }
  .galleryBlock .photos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; }
    .galleryBlock .photos .galleryPhoto {
      margin: 10px;
      max-height: 300px;
      max-width: 300px; }

.aboutBlock {
  padding: 20px; }
