.header {
  background: green;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

#titleBox {
  width: 100%;
  text-align: center;
  color: white; }
  #titleBox #title {
    margin: 5px 0px 0px 0px;
    font-size: 100px; }
  #titleBox #slogan {
    font-size: 40px;
    margin: 0px 0px 0px 0px; }

.mainMenu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  max-width: 1500px;
  margin: auto;
  border: 1px solid blue; }
  .mainMenu .menuButton {
    border: 1px solid black;
    margin: 5px 20px 5px 20px;
    padding: 5px;
    display: flex;
    align-items: center; }
    .mainMenu .menuButton a {
      font-size: 18px;
      text-decoration: none;
      color: black; }

@media screen and (min-width: 600px) {
  .mainMenu {
    justify-content: flex-end; }
  a {
    font-size: 40px;
    color: blue; } }

.footer {
  background: green;
  text-align: center;
  border: 1px solid black;
  padding: 30px;
  opacity: 0.6;
  color: white; }

.landingPagePic {
  border: 1px solid black;
  height: 100vh;
  width: 100%;
  background: url(../resources/legSeatPic.jpg) no-repeat;
  background-position: 75% 35%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

body {
  background: white;
  font-family: Helvetica; }

.content {
  display: flex;
  flex-direction: column;
  align-items: center; }

.limitedWidthDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: auto; }

.issueBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  padding: 20px; }
  .issueBlock .issue {
    margin-bottom: 5px; }
  .issueBlock .subheading {
    margin: 0px; }
  .issueBlock .description {
    font-size: 20px; }

.galleryBlock {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 10px; }
  .galleryBlock .photos .galleryPhoto {
    max-height: 25%;
    max-width: 30%;
    margin: 10px; }
