.header {
  border: 1px solid red;
  background: green;
  display: flex;
  flex-direction: row; }

.mainMenu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 1px solid yellow; }
  .mainMenu .menuButton {
    border: 1px solid black;
    margin: 20px;
    display: flex;
    align-items: center; }
    .mainMenu .menuButton a {
      font-size: 25px;
      text-decoration: none;
      color: white; }

@media screen and (min-width: 600px) {
  .mainMenu {
    justify-content: flex-end; }
  a {
    font-size: 40px;
    color: blue; } }

.footer {
  text-align: center;
  border: 1px solid black;
  padding: 30px;
  opacity: 0.6; }

.landingPagePic {
  border: 1px solid black;
  height: 100vh;
  width: 100%;
  background: url(../resources/legSeatPic.jpg) no-repeat fixed;
  background-position: 75% 35%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

body {
  background: white; }

.content {
  display: flex;
  flex-direction: column;
  align-items: center; }
