.aboutBlock {
  display: flex;
  flex-direction: column;

  padding: 20px;
  #samAboutPic {
    display: block;

    height: auto;
    width: 100%;
  }
  #aboutText {
    font-size: 20px;
  }
  #iframe_container {
    width: 300px;
    height: 220px;
  }
}

@media screen and (min-width: 600px) {
  .aboutBlock {
    flex-direction: row;
    justify-content: space-around;
    #samAboutPic {
      max-width: auto;
      max-height: 40vh;
    }
    #aboutText {
      margin-left: 30px;
    }
    #iframe_container {
      height: 400px;
      width: 550px;
    }
  }
}
@media screen and (min-width: 900px) {
  .aboutBlock {
    #samAboutPic {
      max-height: 60vh;
    }
    #aboutText {
    }
    #iframe_container {
      width: 800px;
      height: 580px;
    }
  }
}
