.galleryBlock {
  width: 100%;
  padding: 10px;

  .galleryText {
    padding: 10px;

    .eventName {
    }
    .description {
    }
  }
  .photos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    .galleryPhoto {
      margin: 10px;
      // max-height: auto;
      // max-width: 300px;
      // width: auto;
      // height: auto;

      display: block;
      max-width: 300px;
      max-height: 200px;
      width: auto;
      height: auto;
    }
  }
}

.lightBox {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.lightBoxContent {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.lightBoxPhoto {
  width: 100%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
