.header {
  background: green;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 70px;
}

$menuButtonTextColor: white;
$menuButtonSize: 22px;

.mobileMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  .menuButton {
    display: none;
  }
  
}

.desktopMenu {
  display: none;
  flex-direction: row;
  justify-content: flex-end;

}

.mobileMenu, .desktopMenu {
  width: 100%;
  max-width: 1200px;
  margin: auto;

  //border: 1px solid blue;
  #menuRevealButton {
    //border: 1px solid black;
    text-align: center;
    margin: 5px;
    padding: 5px;

    font-size: $menuButtonSize + 4px;
    color: $menuButtonTextColor;
  }

  .menuButton {
    //border: 1px solid black;
    margin: 5px 20px 5px 20px;
    padding: 5px;
    text-align: center;

    a {
      font-size: $menuButtonSize;
      text-decoration: none;
      color: $menuButtonTextColor;
    }
  }
}
@media screen and (min-width: 650px) {
  .mobileMenu {
    display: none;
  }
  .desktopMenu {
    display: flex;
    .menuButton {
      display: inline;
    }
  }
}
