.header {
  background: green;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#titleBox {
  width: 100%;
  text-align: center;
  color: white;
  text-decoration: none;

  #title {
    margin: 5px 0px 0px 0px;
    font-size: 100px;
  }
  #slogan {
    font-size: 40px;
    margin: 0px 0px 0px 0px;
  }
}

.mainMenu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  max-width: 1500px;
  margin: auto;

  //border: 1px solid blue;

  .menuButton {
    //border: 1px solid black;
    margin: 5px 20px 5px 20px;
    padding: 5px;
    display: flex;
    align-items: center;

    a {
      font-size: 18px;
      text-decoration: none;
      color: black;
    }
  }
}
@media screen and (min-width: 600px) {
  .mainMenu {
    justify-content: flex-end;
  }

  a {
    font-size: 40px;
    color: blue;
  }
}
