.header {
  background: green;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 70px;
}

$menuButtonTextColor: white;
$menuButtonSize: 22px;

.mainMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  margin: auto;

  //border: 1px solid blue;
  #menuRevealButton {
    //border: 1px solid black;
    text-align: center;
    margin: 5px;
    padding: 5px;

    font-size: $menuButtonSize + 4px;
    color: $menuButtonTextColor;
  }

  .menuButton {
    //border: 1px solid black;
    margin: 5px 20px 5px 20px;
    padding: 5px;
    text-align: center;

    display: none;

    a {
      font-size: $menuButtonSize;
      text-decoration: none;
      color: $menuButtonTextColor;
    }
  }
}
@media screen and (min-width: 600px) {
  .mainMenu {
    flex-direction: row;
    justify-content: flex-end;

    .menuButton {
      display: inline;
 
    }
    #menuRevealButton {
      display: none;
    }
  }

}
