.header {
  background: green;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#titleBox {
  width: 100%;
  text-align: center;
  color: white;
  text-decoration: none;

  #title {
    margin: 25px 0px 0px 0px;
    font-size: 115px;
    line-height: 0.8;
  }
  #slogan {
    font-size: 40px;
    margin: 0px 0px 0px 0px;
  }
}

.mainMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  margin: auto;

  //border: 1px solid blue;

  .menuButton {
    //border: 1px solid black;
    margin: 5px 20px 5px 20px;
    padding: 5px;
    text-align: center;

    display: none;

    a {
      font-size: 22px;
      text-decoration: none;
      color: black;
    }
  }
}
@media screen and (min-width: 600px) {
  .mainMenu {
    flex-direction: row;
    justify-content: flex-end;

    .menuButton {
      display: inline;
    }
    #menuRevealButton {
      display: none;
    }
  }

  a {
    font-size: 40px;
    color: blue;
  }
}
