#titleBox {
  background: green;
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  height: 95vh;
  text-align: center;
  color: white;
  text-decoration: none;

  padding-bottom: 10px;

  #title {
    margin: 10px 0px 0px 0px;
    font-size: 115px;
    line-height: 0.8;
  }
  #slogan {
    font-size: 40px;
    margin: 0px 0px 0px 0px;
  }
}

@media screen and (min-width: 600px) {
  #titleBox {
    display: none;
  }
}

.landingPagePic {
  //border: 1px solid black;
  height: 100vh;
  width: 100%;
  background: url(../resources/legSeatPic.jpg) no-repeat;
  background-position: 75% 35%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
