.titleBox {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  text-align: center;
  color: white;
  text-decoration: none;

  padding-bottom: 10px;

  .title {
    margin: 10px 0px 0px 0px;
    line-height: 0.8;
  }
  .slogan {
    margin: 0px 0px 0px 0px;
  }
}

#mobileTitle {
  height: 95vh;
  background: green;

  .title {
    margin: 10px 0px 0px 0px;
    font-size: 100px;
    line-height: 0.8;
  }
  .slogan {
    font-size: 30px;
    margin: 0px 0px 0px 0px;
  }
}

#fullSizeTitle {
  display: none;
  grid-column-start: 2;
  grid-row-start: 2;
  .title {
    margin: 10px 0px 0px 0px;
    font-size: 10vh;
    line-height: 0.8;
  }
  .slogan {
    font-size: 3vh;
    margin: 0px 0px 0px 0px;
  }
}

@media screen and (min-width: 600px) {
  #mobileTitle {
    display: none;
  }
  #fullSizeTitle {
    display: flex;
  }
}

.landingPagePic {
  //border: 1px solid black;
  height: 100vh;
  width: 100%;
  background: url(../resources/legSeatPic.jpg) no-repeat;
  background-position: 75% 35%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display: grid;
  grid-template-columns: 1fr 30vh 5fr;
  grid-template-rows: 8vh 25vh 1fr;
}
