.titleBox {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  text-align: center;
  color: white;
  text-decoration: none;

  padding-bottom: 10px;

  .title {
    margin: 10px 0px 0px 0px;
    line-height: 0.8;
  }
  .slogan {
    margin: 0px 0px 0px 0px;
  }
  .district {
    margin: 0px 0px 0px 0px;
  }
}

#mobileTitle {
  height: 95vh;
  background: green;

  .title {
    //margin: 10px 0px 0px 0px;
    font-size: 100px;
    line-height: 0.8;
  }
  .slogan {
    font-size: 45px;
    //margin: 0px 0px 0px 0px;
  }
  .district {
    font-size: 35px;
  }
}
#fullSizeTitle {
  display: none;
}

@media screen and (min-width: 725px) {
  #mobileTitle {
    display: none;
  }
  #fullSizeTitle {
    display: flex;
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    align-self: start;

    margin-top: 15px;

    .title {
      //margin: 10px 0px 0px 0px;
      font-size: 6vh;
      line-height: 0.8;
    }
    .slogan {
      font-size: 3.5vh;
      //margin: 0px 0px 0px 0px;
    }
    .district {
      font-size: 2.5vh;
    }
  }
}

.landingPagePic {
  //border: 1px solid black;
  height: 100vh;
  width: 100%;
  background: url(../resources/legSeatPic.jpg) no-repeat;
  background-position: 75% 35%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

@media screen and (min-width: 800px) {
  #mobileTitle {
    display: none;
  }
  #fullSizeTitle {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    align-self: center;
    justify-self: start;
    .title {
      //margin: 10px 0px 0px 0px;
      font-size: 7vh;
      line-height: 0.8;
    }
    .slogan {
      font-size: 4vh;
      //margin: 0px 0px 0px 0px;
    }
    .district {
      font-size: 3vh;
      //margin: 0px 0px 0px 0px;
    }
  }
}
