.landingPagePic {
  border: 1px solid black;
  height: 100vh;
  width: 100%;
  background: url(../resources/legSeatPic.jpg) no-repeat;
  background-position: 75% 35%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
