.issue {
  padding: 20px;

  h2,
  h3 {
    text-align: center;
  }

  .issueHeader {
    .issueTitle {
      font-size: 6vh;
    }
    .description {
      font-size: 25px;
    }
  }

  .list {
    .listTitle {
      font-size: 150%;
    }
    .listItem {
      border-top: 3px solid green;
      .itemTitle {
        font-size: 1.3em;
        color: green;
      }
      .itemDescription {
      }
      .itemEnd {
        font-weight: bold;
      }
    }
  }
}
